extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1 Jessica DiPonziano
        p.lead.text-light
          | Full Stack JavaScript and Wordpress Developer.
        .portfolio-bio
          p
            | Versatile, creative Front-end Developer with 4+ years of experience leveraging JavaScript and PHP to build responsive websites and interactive features that drive business growth and improve UX. With excellent communication and problem solving skills, I can bridge strategy, user experience, and design with clean, scalable technology solutions.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        ul
          li Express
          li React
          li JavaScript
          li HTML
          li SCSS/CSS3/LESS
          li PHP
          li Pug/Jade
          li Wordpress/Woocommerce 
          li Shopify
          li Automated testing with Mocha
        h6 Contact Info
        ul
          li 267-587-6367
          li jess@webdevjd.com
        a.button.expanded(href='https://www.linkedin.com/in/jessicadiponziano' target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/jdiponziano' target="_blank") GitHub
        a.button.expanded(href='https://jessicadiponziano.com' target="_blank") Website
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  