extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell
        h1= `${error.message} - Status: ${error.status}`
        p
          pre.stack-trace= error.stack
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  